@page "/categories/update/{id:long}"


@if (IsLoading)
{
    <LoadingComponent Message="Carregando categoria"></LoadingComponent>
}
else
{
    <MudText Class="pt-8 pb-4" Typo="Typo.h3">Editar Categoria</MudText>

    <MudPaper Class="pa-4">
        <EditForm Model="@Category" FormName="UpdateCategory" OnValidSubmit="UpdateCategory">
        
            <DataAnnotationsValidator/>
        
            <MudTextField
                T="string"
                Label="Título"
                Placeholder="Digite a Título da nova categoria"
                @bind-Value="@Category.Title"
                InputType="InputType.Text"
                Required="true"
                Class="mb-6"/>

            <MudTextField
                T="string"
                Label="Descrição"
                Placeholder="Digite a descrição da nova categoria"
                @bind-Value="@Category.Description"
                InputType="InputType.Text"/>

            <div class="mt-6">
                @if (IsLoading)
                {
                    <MudProgressCircular Indeterminate="true" Color="Color.Info"/>
                }
                else
                {
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit">Salvar</MudButton>
                    <MudButton Href="/categories">Voltar</MudButton>
                }
            </div>
        </EditForm>
    </MudPaper>
}

